{
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended"
    ],
    "env": {
        "browser": false,
        "node": true,
        "es6": true,
        "jquery": false
    },
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "globals": {
        "jasmine": false,
        "describe": false,
        "it": false,
        "expect": false,
        "expectAsync": false,
        "beforeAll": false,
        "afterAll": false
    },
    "rules": {
        "no-console": "warn",
        "no-invalid-this": "warn",
        "no-undef": "error",
        "no-unused-vars": "warn",
        "no-var": "off",
        "strict": [
            2,
            "never"
        ]
    }
}
